.SXIcecapSSS-web {
	.hide {
		display:none;
	}

	.show {
		display:block;
	}

	.card-horizontal {
		margin-bottom: 0px;
	}

	.form-group {
    	margin-bottom: 0.5rem;
	}

	.form-control {
		margin-bottom: 0.5rem;
	}
	
	.show-border{ 
		border: solid #bbb 1px;
	}

	.lfr-ddm-field-group {
		margin-bottom: 5px;
	}
}